<section class="bgSkyrim pb-5 pt-2 d-flex justify-content-center align-items-center flex-column" style="background: url(assets/img/fondo.webp);">
    <div class="d-flex justify-content-between align-items-center pb-3 w-100">
        <div class="d-flex">
            <h5 class="text-white fw-bold px-2" routerLink="/personajes">Personajes</h5>
            <h5 class="text-white fw-bold px-2" routerLink="/hechizos">Hechizo</h5>
        </div>
        <div class="d-flex">
            <h5 class="text-white fw-bold">Ingreso</h5>
            <h5 class="px-3 text-white fw-bold" routerLink="/registro">Registro</h5>
        </div>
    </div>
    <img src="assets/img/logo_skyrim.png" class="w-25" alt="">
</section>