@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo {
    font-family: 'Times New Roman', Times, serif;
}

#formularioImportante {
    background: #c03535;
} 
*/

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.titulo {
    font-size: 50px;
    color: #e71c0e;
    background: #cdcd1a;
    margin-top: 50px;
    text-align: center;
}