.div-btn-menu {
    position: relative;
}

.btn-menu {
    position: absolute;
    left: 93%;
    top: 7px;
    white-space: nowrap;
}

nav {
    background-color: #acacac;
}

.opt-menu {
    font-size: 1.2rem !important;
}
