:root {
    --color-negro: #222;
    --color-blanco: #e3e3e3;
}

@font-face {
    font-family: 'fuentePaginaEspecial';
    src: url(../fonts/find_cartoon.otf);
}

body {
    background-color: var(--color-negro);
}

.temaNegro {
    color: var(--color-negro) !important;
}

.temaBlanco {
    color: var(--color-blanco) !important;
}

.letraKeep {
    font-family: 'fuentePaginaEspecial';
}

.contenedorPrincipal {
    height: 80vh;
}


/* input formulario */

.containerBtnInput {
    position: relative;
    width: 100%;
}

.containerBtnInput input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #ffffff;
    padding: 8px;
}

.containerBtnInput label {
    position: absolute;
    left: 0;
    top: 0;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    pointer-events: none;
    transition: .5s;
    font-weight: bold;
}

.containerBtnInput input:valid~label,
.containerBtnInput input:focus~label {
    color: rgb(255, 255, 255);
    transform: translateY(-15px);
    font-size: .8rem;
}

.containerBtnInput i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #222;
}

.containerBtnInput i:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    animation: animate 3s linear infinite;
}


/* Estilos boton */

.button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: 900;
    transition-duration: .2s;
    background: linear-gradient(0deg, #000, #272727);
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button:after {
    filter: blur(50px);
}

.swal2-container {
    background-size: 20% !important;
}


/* Hide the default checkbox */

.containerChk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.containerChk {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    user-select: none;
}


/* Create a custom checkbox */

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background: black;
    border-radius: 50px;
    transition: all 0.7s;
    --spread: 20px;
}


/* When the checkbox is checked, add a blue background */

.containerChk input:checked~.checkmark {
    background: black;
    box-shadow: -10px -10px var(--spread) 0px #5B51D8, 0 -10px var(--spread) 0px #833AB4, 10px -10px var(--spread) 0px #E1306C, 10px 0 var(--spread) 0px #FD1D1D, 10px 10px var(--spread) 0px #F77737, 0 10px var(--spread) 0px #FCAF45, -10px 10px var(--spread) 0px #FFDC80;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.containerChk input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.containerChk .checkmark:after {
    left: 0.55em;
    top: 0.32em;
    width: 0.25em;
    height: 0.5em;
    border: solid #f0f0f0;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}