<section class="bg-general-skyrim" style="background: url(assets/img/fondo.png);">

    <div class="cardUI">
        <p class="bgSkyrim1" style="background: url(assets/img/fondo2.jpeg);">
            <span class="fw-bold">PERSONAJES</span>
        </p>
        <p class="bgSkyrim2" style="background: url(assets/img/fondo2.jpeg);">
            <span class="fw-bold">HECHIZOS</span>
        </p>
        <p class="bgSkyrim3" style="background: url(assets/img/fondo2.jpeg);">
            <span class="fw-bold">LUGARES</span>
        </p>
    </div>

    <section class="d-flex justify-content-center align-items-center py-5 flex-column">
        <h1 class="text-white fw-bold text-center py-5 ">Banda sonora</h1>
        <i (click)="audioPagina()" #audioPlayer class=" fa-solid fa-circle-play text-white iconoMultimedia"></i>
    </section>
    {{ variableEjemplo }}


</section>