<footer class="container">
    <div class="row">
        <div class="col-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark text-white">An item</li>
                <li class="list-group-item bg-dark text-white">A second item</li>
                <li class="list-group-item bg-dark text-white">A third item</li>
                <li class="list-group-item bg-dark text-white">A fourth item</li>
                <li class="list-group-item bg-dark text-white">And a fifth one</li>
            </ul>
        </div>
        <div class="col-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark text-white">An item</li>
                <li class="list-group-item bg-dark text-white">A second item</li>
                <li class="list-group-item bg-dark text-white">A third item</li>
                <li class="list-group-item bg-dark text-white">A fourth item</li>
                <li class="list-group-item bg-dark text-white">And a fifth one</li>
            </ul>
        </div>
        <div class="col-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark text-white">An item</li>
                <li class="list-group-item bg-dark text-white">A second item</li>
                <li class="list-group-item bg-dark text-white">A third item</li>
                <li class="list-group-item bg-dark text-white">A fourth item</li>
                <li class="list-group-item bg-dark text-white">And a fifth one</li>
            </ul>
        </div>
    </div>
</footer>
