<section class="container px-5 mx-5">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center py-4">Ingresa a tu cuenta</h1>
            <form class="pt-2" (submit)="ingresoUsuario()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Correo</label>
                    <input [(ngModel)]="userFormLogin.correo" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input [(ngModel)]="userFormLogin.password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-dark w-100 fw-bold">Ingresar</button>
            </form>
        </div>
    </div>
</section>
